@mixin base($color: transparent) {
  background-color: $color;

  @content;
}

@mixin image($image, $repeat: no-repeat, $size: cover, $position: center) {
  background-image: $image;
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;

  @content;
}