@mixin position($position: relative) {
  position: $position;

  @content;
}

@mixin grid($columns: 1, $rows: 1, $gutter: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($columns, 1fr);
  grid-gap: $gutter;

  @content;
}

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

  @content;
}

@mixin model() {
  @content;
}

@mixin border($width: 1px, $color: black) {
  border: $width solid $color;
  
  @content;
}

@mixin hover() {
  &:hover {
    @content;
  }
}