@function family() {
  @return 'Red Hat Display', sans-serif;
}

@mixin regular($size: 0) {
  @if ($size > 0) {
    font-size: $size;
  }

  font-weight: 400;
  @content;
}

@mixin medium($size: 0) {
  @if ($size > 0) {
    font-size: $size;
  }

  font-weight: 500;
  @content;
}

@mixin bold($size: 0) {
  @if ($size > 0) {
    font-size: $size;
  }

  font-weight: 700;
  @content;
}